// ========================================
// reviews - block
// ========================================
.reviews
	padding: 160px 0 120px
	overflow: hidden
	+br(18px)
	color: $w
	z-index: 0
	+r(1440)
		padding: 160px 0 100px
	+r(1200)
		padding: 160px 0 80px
	&::before
		content: ''
		position: absolute
		top: -60%
		right: -2%
		background-image: url(../img/reviews-cards.png)
		background-size: contain
		background-repeat: no-repeat
		background-position: right
		width: 1120px
		height: 100%
		+r(991)
			top: -63%
			right: -50%
			background-size: 90%
	&::after
		content: ''
		position: absolute
		bottom: -10%
		width: 100%
		height: 100%
		background-image: url(../img/reviews-bottom-pattern.png)
		background-size: 90%
		background-repeat: no-repeat
		background-position: bottom
		z-index: -1
		+r(991)
			bottom: 0
			background-size: 100%
		+r(767)
			background-size: 200%
	.section__head
		+r(1200)
			flex-direction: column
			text-align: left
			align-items: flex-start
			grid-gap: 30px

	.section__addblock
		p
			color: rgba($w,.4)
			font-size: 16px
			line-height: 160%
			font-weight: normal
			+reg
			+r(1200)
				text-align: left
				max-width: 70%
			+r(991)
				max-width: 100%
		img
			+r(1200)
				display: none

	&__content
		position: relative
		z-index: 3

	&__slider
		margin-top: 50px

		.slick-next
			right: -45px
			+r(1440)
				right: -20px
		.slick-prev
			left: -45px
			+r(1440)
				left: -20px

	.slick-track
		padding: 50px 0

	.slide
		max-width: calc(9.6 * (1vw + 1vh))
		min-width: 288px
		// height: calc(16*(1vw + 1vh)) !important
		height: 400px
		// border: 2px solid transparent
		text-align: center
		background: $b
		display: flex
		justify-content: center
		align-items: center
		overflow: hidden
		border-radius: 10px
		margin: 0 20px
		position: relative
		transition: transform 0.5s ease-in-out
		transform: scale(0.8)
		background-size: cover
		background-repeat: no-repeat
		+r(1440)
			height: 350px
		+r(1200)
			margin: 0 10px
		+r(767)
			margin: 0

		video
			top: 0
			left: 0
			width: 100%
			height: 100%
			-o-object-fit: cover
			object-fit: cover
			pointer-events: all

		.overlay
			position: absolute
			top: 0
			left: 0
			bottom: 0
			right: 0
			width: 100%
			height: 100%
			// background: $b
			background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%)
			display: flex
			flex-direction: column
			align-items: center
			justify-content: center
			pointer-events: none
			z-index: 3
			// border: 2px solid $b

	.slick-arrow
		+br(50%)
		width: 45px
		height: 45px
		background: $w
		z-index: 5
		&::before
			color: $b
		&.slick-disabled
			opacity: .5

	.slick-dots
		bottom: -50px

	.slick-dots li
		height: 7px
		width: 7px
		+br(50%)
		background: #D9D9D9
		margin: 0 7px

	.slick-dots li button:before
		display: none

	.slick-dots li.slick-active
		width: 34px
		+br(100px)
		background: $w

	.slick-current.slick-center
		transform: scale(1.15)
		border: 2px solid $w
		.overlay
			background: linear-gradient(to bottom, transparent 60%, rgba(0, 0, 0, 0.8) 100%)

	.text-block
		width: 100%
		position: absolute
		bottom: 30px
		left: 25px
		text-align: left
		color: $w
		z-index: 4

	.play-button
		display: block
		cursor: pointer
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%,-50%)
		z-index: 5

	h3, p
		color: $w
		line-height: 160%

	h3
		font-size: 18px

	p
		font-size: 14px


// 	&__item
// 		max-width: 285px !important
// 		height: 100%
// 		+br(18px)
// 		overflow: hidden
// 		transform: scale(0.7)
// 		+trans(transform)
// 		width: 100% !important
// 		border: 2px solid transparent
// 		background: linear-gradient(to right, $red) 0%, $b) 70%)
// 		video
// 			height: 100%
// 			width: 100%
// 			object-fit: cover
// 			object-position: center

// 	&__content
// 		margin-top: 50px

// 	.slick-list
// 		padding: 0 20px !important

// 	.slick-track
// 		display: flex
// 		align-items: center
// 		justify-content: center
// 		transition: transform 0.5s ease-in-out

// 	.slick-slide
// 		transition: .5s

// 	.slick-current
// 		transform: scale(1)
// 		border-color: $w

// 	&__info
// 		position: absolute
// 		bottom: 25px
// 		left: 25px
// 		p
// 			margin-top: 10px