<!-- blog similar -->
<section class="section blog-similar" none>
	<div class="container">
		<div class="section__head">
			<div class="section__head--left">
				<div class="section__subtext">
					<h5>Blog</h5>
				</div>
				<div class="section__title">
					<h1>Новостной блог</h1>
				</div>
			</div>
			<div class="section__head--right">
				<div class="btn-prev"><img src="assets/img/arrow-slider.svg" alt=""></div>
				<div class="btn-next"><img src="assets/img/arrow-slider.svg" alt=""></div>
			</div>
		</div>
		<div class="blog-list swiper blog-slider">
			<div class="swiper-wrapper">
				<div class="blog-card swiper-slide">
					<div class="blog-card__img">
						<img src="assets/img/blog-img.png" alt="">
					</div>
					<div class="blog-card__content">
						<span>09/10/2024</span>
						<a class="blog-card--title" href="blog-single.html">
							<h3>Benefit from our partnerships</h3>
						</a>
						<p>FleetCard frees you to save on more than fuel. Our partners offer exclusive discounts on tyres, windscreens, batteries</p>
						<a class="blog-card--link" href="blog-single.html">Read more <span>→</span></a>
					</div>
				</div>
				<div class="blog-card swiper-slide">
					<div class="blog-card__img">
						<img src="assets/img/blog-img.png" alt="">
					</div>
					<div class="blog-card__content">
						<span>09/10/2024</span>
						<a class="blog-card--title" href="blog-single.html">
							<h3>Calculate your monthly fuel savings in seconds! Calculate your monthly fuel savings in seconds!</h3>
						</a>
						<p>FleetCard frees you to save on more than fuel. Our partners offer exclusive discounts on tyres, windscreens, batteries</p>
						<a class="blog-card--link" href="blog-single.html">Read more <span>→</span></a>
					</div>
				</div>
				<div class="blog-card swiper-slide">
					<div class="blog-card__img">
						<img src="assets/img/blog-img.png" alt="">
					</div>
					<div class="blog-card__content">
						<span>09/10/2024</span>
						<a class="blog-card--title" href="">
							<h3>Calculate your monthly fuel savings in seconds! Calculate your monthly fuel savings in seconds!</h3>
						</a>
						<p>FleetCard frees you to save on more than fuel. Our partners offer exclusive discounts on tyres, windscreens, batteries</p>
						<a class="blog-card--link" href="">Read more <span>→</span></a>
					</div>
				</div>
				<div class="blog-card swiper-slide">
					<div class="blog-card__img">
						<img src="assets/img/blog-img.png" alt="">
					</div>
					<div class="blog-card__content">
						<span>09/10/2024</span>
						<a class="blog-card--title" href="blog-single.html">
							<h3>Benefit from our partnerships</h3>
						</a>
						<p>FleetCard frees you to save on more than fuel. Our partners offer exclusive discounts on tyres, windscreens, batteries</p>
						<a class="blog-card--link" href="blog-single.html">Read more <span>→</span></a>
					</div>
				</div>
				<div class="blog-card swiper-slide">
					<div class="blog-card__img">
						<img src="assets/img/blog-img.png" alt="">
					</div>
					<div class="blog-card__content">
						<span>09/10/2024</span>
						<a class="blog-card--title" href="blog-single.html">
							<h3>Calculate your monthly fuel savings in seconds! Calculate your monthly fuel savings in seconds!</h3>
						</a>
						<p>FleetCard frees you to save on more than fuel. Our partners offer exclusive discounts on tyres, windscreens, batteries</p>
						<a class="blog-card--link" href="blog-single.html">Read more <span>→</span></a>
					</div>
				</div>
				<div class="blog-card swiper-slide">
					<div class="blog-card__img">
						<img src="assets/img/blog-img.png" alt="">
					</div>
					<div class="blog-card__content">
						<span>09/10/2024</span>
						<a class="blog-card--title" href="">
							<h3>Calculate your monthly fuel savings in seconds! Calculate your monthly fuel savings in seconds!</h3>
						</a>
						<p>FleetCard frees you to save on more than fuel. Our partners offer exclusive discounts on tyres, windscreens, batteries</p>
						<a class="blog-card--link" href="">Read more <span>→</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>