<div class="bread static">
	<div class="container">
		<ul class="breadcrumbs crumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
				<a href="/" itemprop="item" class="home"></a>
			</li>
			<li itemprop="name"><a href="home.html" itemprop="item" class="home">Home</a></li>
			<!-- <li class="sep">/</li> -->
			<!-- <li itemprop="name"><a href="blog.html" itemprop="item">{{ title }}</a></li> -->
			<li class="sep">/</li>
			<li class="current">{{ title }}</li>
		</ul>
	</div>
</div>