<!--/ fea -->
<section class="section fea">
	<div class="container">
		<div class="fea__wrap">
			<!-- left -->
			<div class="fea__col fea__items">
				<div class="fea__item" style="background-image: url(assets/img/fea-item-bg.png);">
					<div class="fea__icon">
						<img src="assets/img/fea-item-icon.svg" alt="">
					</div>
					<div class="fea__content">
						<span>team</span>
						<h4>Сильная команда поддержки</h4>
						<p>В течение года мы сэкономили 60 тонн топлива мы сэкономили 60 тонн топлива</p>
					</div>
				</div>
				<div class="fea__item" style="background-image: url(assets/img/fea-item-bg.png);">
					<div class="fea__icon">
						<img src="assets/img/fea-item-icon.svg" alt="">
					</div>
					<div class="fea__content">
						<span>team</span>
						<h4>Сильная команда поддержки</h4>
						<p>В течение года мы сэкономили 60 тонн топлива мы сэкономили 60 тонн топлива</p>
					</div>
				</div>
				<div class="fea__item" style="background-image: url(assets/img/fea-item-bg.png);">
					<div class="fea__icon">
						<img src="assets/img/fea-item-icon.svg" alt="">
					</div>
					<div class="fea__content">
						<span>team</span>
						<h4>Сильная команда поддержки</h4>
						<p>В течение года мы сэкономили 60 тонн топлива мы сэкономили 60 тонн топлива</p>
					</div>
				</div>
				<div class="fea__item" style="background-image: url(assets/img/fea-item-bg.png);">
					<div class="fea__icon">
						<img src="assets/img/fea-item-icon.svg" alt="">
					</div>
					<div class="fea__content">
						<span>team</span>
						<h4>Сильная команда поддержки</h4>
						<p>В течение года мы сэкономили 60 тонн топлива мы сэкономили 60 тонн топлива</p>
					</div>
				</div>
			</div>
			<!-- right -->
			<div class="fea__col fea__sticky">
				<div class="section__top">
					<div class="section__subtext">
						<h5>Features</h5>
					</div>
					<div class="section__num">/ 4 /</div>
				</div>
				<div class="section__title">
					<h2>Why Choose <span>TSS Fuel?</span></h2>
				</div>
				<p>Мы помогаем бизнесам всех масштабов снизить затраты на топливо благодаря нашим инновационным топливным картам.</p>
				<a class="link link-primary link-icon" href="#">Презентация платформы <span>→</span></a>
			</div>
		</div>
	</div>
</section>
<!-- ./ fea -->