<header class="header">
	<div class="container">
		
		<div class="header__left">
			<a class="header__logo" href="home.html">
				<img src="assets/img/logo.svg" alt="TSS - Fuel">
			</a>
			<ul class="header__menu">
				<li><a href="#">Home</a></li>
				<li><a href="#">About TSS</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Register</a></li>
				<li><a href="#">TSS Card</a></li>
				<li><a href="#">Referal program</a></li>
			</ul>
		</div>
		<div class="header__right">
			<div class="header__lang lang-dropdown">
			    <a href="#">
			        <span>EN</span>
			        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
			            <path d="M5 8.33337L10 13.3334L15 8.33337" stroke="#8E1636" stroke-linecap="round"></path>
			        </svg>
			    </a>
			    <!-- <ul class="language-chooser language-chooser-both qtranxs_language_chooser" id="language-chooser">
			        <li class="active"><a href="https://jihozvent.uz/ru/" class="qtranxs_flag qtranxs_flag_ru qtranxs_flag_and_text" title="Ру (ru)"><span>Ру</span></a></li>
			        <li><a href="https://jihozvent.uz/en/" class="qtranxs_flag qtranxs_flag_en qtranxs_flag_and_text" title="En (en)"><span>En</span></a></li>
			    </ul>
			    <div class="qtranxs_widget_end"></div> -->
			</div>
			<a class="header__cta" href="#">Contact Us</a>
		</div>

	</div>
</header>
<!-- /header -->