<div class="pagination">
    <a class="prev page-numbers" href="/"><svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.840088 1.41L5.42009 6L0.840088 10.59L2.25009 12L8.25009 6L2.25009 0L0.840088 1.41Z"/></svg></a>
    <a class="page-numbers" href="/">1</a>
    <span aria-current="page" class="page-numbers current">2</span>
    <span class="page-numbers dots">…</span>
    <a class="page-numbers" href="page/11/">11</a>
    <a class="next page-numbers" href="page/3/"><svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.840088 1.41L5.42009 6L0.840088 10.59L2.25009 12L8.25009 6L2.25009 0L0.840088 1.41Z"/></svg></a>
</div>