<!-- reviews -->
<section class="section reviews bg-dark-linear">
	<div class="container">
		<div class="section__top --white">
			<div class="section__subtext">
				<h5>Reviews</h5>
			</div>
			<div class="section__num">/ 5 /</div>
		</div>
		<div class="section__head">
			<div class="section__title --white">
				<h2>Real Reviews from Our <br> Community</h2>
			</div>
			<div class="section__addblock">
				<p>With 2,000+ truck drivers and fleet owners across the US using <br> TSS Fuel Cards, our proven track record speaks for itself.</p>
				<img src="assets/img/reviews-play.svg" alt="">
			</div>
		</div>
		<div class="reviews__content">
			<div class="reviews__slider">

				<div class="slide">
				    <video data-lazy="assets/video/1.mp4" class="review-video"></video>
				    <div class="overlay">
				        <div class="play-button">
				            <svg width="42" height="53" viewBox="0 0 42 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <path d="M42 26.5L0.749998 52.9138L0.75 0.0862237L42 26.5Z" fill="white" />
				            </svg>
				        </div>
				        <div class="text-block">
				            <h3>Имя Фамилия</h3>
				            <p>Профессия</p>
				        </div>
				    </div>
				</div>
				<div class="slide">
				    <video data-lazy="assets/video/1.mp4" class="review-video"></video>
				    <div class="overlay">
				        <div class="play-button">
				            <svg width="42" height="53" viewBox="0 0 42 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <path d="M42 26.5L0.749998 52.9138L0.75 0.0862237L42 26.5Z" fill="white" />
				            </svg>
				        </div>
				        <div class="text-block">
				            <h3>Имя Фамилия</h3>
				            <p>Профессия</p>
				        </div>
				    </div>
				</div>
				<div class="slide">
				    <video data-lazy="assets/video/1.mp4" class="review-video"></video>
				    <div class="overlay">
				        <div class="play-button">
				            <svg width="42" height="53" viewBox="0 0 42 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <path d="M42 26.5L0.749998 52.9138L0.75 0.0862237L42 26.5Z" fill="white" />
				            </svg>
				        </div>
				        <div class="text-block">
				            <h3>Имя Фамилия</h3>
				            <p>Профессия</p>
				        </div>
				    </div>
				</div>
				<div class="slide">
				    <video data-lazy="assets/video/1.mp4" class="review-video"></video>
				    <div class="overlay">
				        <div class="play-button">
				            <svg width="42" height="53" viewBox="0 0 42 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <path d="M42 26.5L0.749998 52.9138L0.75 0.0862237L42 26.5Z" fill="white" />
				            </svg>
				        </div>
				        <div class="text-block">
				            <h3>Имя Фамилия</h3>
				            <p>Профессия</p>
				        </div>
				    </div>
				</div>
				<div class="slide">
				    <video data-lazy="assets/video/1.mp4" class="review-video"></video>
				    <div class="overlay">
				        <div class="play-button">
				            <svg width="42" height="53" viewBox="0 0 42 53" fill="none" xmlns="http://www.w3.org/2000/svg">
				                <path d="M42 26.5L0.749998 52.9138L0.75 0.0862237L42 26.5Z" fill="white" />
				            </svg>
				        </div>
				        <div class="text-block">
				            <h3>Имя Фамилия</h3>
				            <p>Профессия</p>
				        </div>
				    </div>
				</div>

			</div>
		</div>
	</div>
</section>
<!-- ./reviews -->