<!-- reviews -->
<section class="section reviews bg-dark-linear">
	<div class="container">
		<div class="section__top --white">
			<div class="section__subtext">
				<h5>Reviews</h5>
			</div>
			<div class="section__num">/ 5 /</div>
		</div>
		<div class="section__head">
			<div class="section__title --white">
				<h2>Real Reviews from Our <br> Community</h2>
			</div>
			<div class="section__addblock">
				<p>With 2,000+ truck drivers and fleet owners across the US using <br> TSS Fuel Cards, our proven track record speaks for itself.</p>
				<img src="assets/img/reviews-play.svg" alt="">
			</div>
		</div>
		<div class="reviews__content">
			<div class="reviews__slider">
				<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
	        	<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
	        	<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
				<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
	        	<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
	        	<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
				<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
	        	<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
	        	<div class="reviews__item">
		        	<video>
						<source src="assets/video/1.mp4" type="video/mp4">
						Ваш браузер не поддерживает встроенные видео :(
					</video>
					<div class="reviews__info">
						<h4>Tim Janov</h4>
						<p>Video Testimonials</p>
					</div>
	        	</div>
			</div>
		</div>
	</div>
</section>
<!-- ./reviews -->