<!--/ why -->
<section class="section why" none>
	<div class="container">
		<div class="why__wrap">
			<div class="why__content">
				<div class="section__top">
					<div class="section__subtext">
						<h5>Why Choose US</h5>
					</div>
				</div>
				<h2><span>Getting Savings and Discounts</span> for Your Fleet Can Be Easy</h2>
				<p>Here’s the deal: fuel savings that matter, 24/7 support when you need it, and the tools to keep your rigs running strong. No fluff. See for yourself below.</p>
				<div class="why__btns">
					<a class="btn btn-primary" href="#">See How</a>
					<a class="btn btn-secondary" href="#">Contact Our Agent →</a>
				</div>
			</div>
		</div>
	</div>
	<div class="why__img">
		<img src="assets/img/why-card.png" alt="">
	</div>
</section>
<!-- ./ why -->