<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ title }}</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> -->
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <!-- favicon -->
    <meta name="msapplication-TileColor" content="#1C509D">
    <meta name="theme-color" content="#1C509D" />
    <meta name="format-detection" content="telephone=no" />
    <!-- style -->
    <link rel="stylesheet" media="all" href="assets/css/style.min.css" />
</head>
<body data-barba="wrapper" class="{{ pagename }}">

    <!-- BEGIN content -->
    {{> body }}
    <a class="back" href="/">back to all pages</a>
    <!-- END content -->

    <!-- BEGIN modals -->
<!--     <div class="modal modal__reviews" id="modal">
        <div class="modal__inner">
            <iframe src="https://www.youtube.com/embed/x-IiaM4M4dA?controls=0&showinfo=0&modestbranding=1&rel=0&disablekb=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div class="modal__overlay"></div>
    </div> -->
    <!-- END modals -->

    <!-- BEGIN scripts -->
    <script defer type="text/javascript" src="assets/js/lib.min.js"></script>
    <script defer type="text/javascript" src="assets/js/app.min.js"></script>
    <!-- END scripts -->

</body>
</html>