// ========================================
// blog page
// ========================================
.blog

	&-list
		display: grid
		grid-template-columns: repeat(3, 1fr)
		grid-gap: 50px 20px
		margin: 60px 0 110px
		+r(1200)
			grid-template-columns: repeat(2, 1fr)
			margin: 60px 0
		+r(767)
			grid-template-columns: repeat(1, 1fr)
			margin: 40px 0
			grid-gap: 30px

	.pagination
		margin-bottom: 150px
		+r(1200)
			margin-bottom: 50px

	&-card
		background: $w
		+br(18px)
		overflow: hidden
		height: min-content

	&-card__img
		img
			height: 185px
			overflow: hidden
			+br(18px)
			width: 100%
			object-fit: cover
			object-position: center
			+r(767)
				height: 200px

	&-card__content
		padding: 40px
		+r(1200)
			padding: 30px

		span
			color: $gray2
			font-size: 13px
			+med

		h3
			padding: 10px 0 25px
			font-weight: normal
			font-size: 18px
			color: $b45
			&:hover
				color: $red

		p
			font-size: 14px
			color: $gray3
			line-height: 150%

	&-card--link
		display: block
		margin-top: 25px
		color: $red
		+med
		font-size: 14px
		transition: color .3s ease-out
		&:hover
			color: $red3
			span
				transform: translateX(5px)
				color: $red
		span
			color: $red
			font-size: 14px
			display: inline-block
			transform: translateX(1px)
			transition: transform .3s linear, color .1s ease


	&-single__head
		max-width: 950px
		margin-bottom: 80px
		+r(767)
			margin-bottom: 40px

		h1
			font-size: 40px
			+reg
			color: $b31
			line-height: 120%
			font-weight: normal
			+r(767)
				font-size: 32px

		img
			width: 100%
			height: 450px
			object-position: center
			object-fit: cover
			margin-top: 40px
			+br(18px)
			+r(767)
				height: 300px

	&-single__wysiwyg
		margin-bottom: 150px
		+r(767)
			margin-bottom: 70px

		h1,h2,h3,h4,h5,h6
			margin: 20px 0 !important
			color: $red
			+semi
		p
			margin-bottom: 20px
			opacity: .6
			+reg
			font-size: 16px
			line-height: 150%

		ol, ul
			list-style-type: auto
			margin: 0 0 15px 30px !important

			li
				margin-bottom: 5px


.blog-similar
	.section__head
		width: 100%
		display: flex
		align-items: flex-end
		justify-content: space-between
	.section__head--right
		display: flex
		align-items: center
		grid-gap: 20px
	.btn-prev,
	.btn-next
		cursor: pointer
		img
			+r(767)
				width: 35px
				height: 35px
	.btn-prev
		transform: rotate(180deg)