// ========================================
// card activation page
// ========================================
.ca__head
	padding-bottom: 60px

	h1, h4
		font-weight: normal

	h1
		font-size: 40px
		line-height: 120%
		color: $b31
		margin-top: 15px !important

	h4
		font-size: 15px
		opacity: .3
		line-height: 110%
		color: $b

.ca__form
	background: $w
	padding: 100px 0

	form
		height: 500px
		background: $gray2
		+br(18px)


.thx__hero
	text-align: center

	.hero__content
		display: flex
		flex-direction: column
		grid-gap: 45px

	.hero__title
		margin: 0 !important

	.hero__footer p 
		max-width: 850px
		margin: 0 auto

	.hero__btn .btn
		+med