// ========================================
// tss-card page
// ========================================
.page-tsscard
	.hero
		padding: 300px 0 200px 0
	.fea
		padding: 100px 0
	.why
		padding: 300px 0 200px
	.fakemap
		margin-top: 50px

// ========================================
// calculator
// ========================================
.calc
	padding: 100px 0
	+br(18px)
	background-image: url(../img/calc-bg.png)
	background-repeat: no-repeat
	background-size: cover

.calculator
	display: grid
	grid-template-columns: 1.3fr 2fr
	background: rgba($red3,.4)
	padding: 20px
	+br(18px)
	align-items: center
	padding-left: 60px

.savings
	color: $w

	.section__subtext
		&::before
			background: $w
		h5
			color: $w
			opacity: 1

	h2
		font-weight: normal
		font-size: 36px
		+reg
		span
			color: rgba($w,.7)

	&__info
		margin-top: 50px

	&__label
		color: rgba($w,.7)
		font-size: 14px

	&__amount
		font-size: 96px
		+reg

.controls
	background: $w
	+br(18px)
	padding: 50px

	&__card
		display: flex
		flex-direction: column
		grid-gap: 45px

	label
		display: block
		margin-bottom: 20px
		font-size: 17px
		color: $red

	.range-input
		width: 100%

	.range-input__value
		width: 100%

.button-group
	display: flex
	grid-gap: 15px

	&__button
		width: 82px
		height: 44px
		+br(10px)
		border: 1px solid #e6e6e6
		+flex
		cursor: pointer
		+trans(all, .3s)

	&__button--active
		background: $red
		border-color: $red
		color: $w

// ========================================
// tss card - map
// ========================================
.tsscard-map
	margin-top: 50px
	svg
		width: 100%
		height: 100%

.top-map, .left-map, .right-map, .bottom-map
	fill: rgba(142, 22, 54, 0.35)
	fill-opacity: 1
	transition: .5s
	cursor: pointer

	&:hover
		filL: $red

// ========================================
// programma
// ========================================
.programma
	position: relative
	z-index: 10
	bottom: -100px

.programma__list
	display: grid
	grid-template-columns: repeat(2, 1fr)
	gap: 20px 30px
	margin-top: 70px

.programma__item
	+br(30px)
	background: $w
	padding: 43px 38px
	box-shadow: 0px 0px 100px 0px rgba(0, 0, 0, 0.05)
	span
		width: 57px
		height: 57px
		+br(50%)
		background: $red
		+flex
		color: $w
		+semi
		font-size: 20px
	h3
		padding: 44px 0 20px
		font-size: 20px
		line-height: 120%
		color: $b
		font-weight: normal
	p
		color: rgba($b, .4)
		font-size: 14px
		line-height: 160%



.range-input
	margin-bottom: 40px
	position: relative

.range-input__label
	color: #9e0b36
	font-size: 1.2rem
	margin-bottom: 30px
	display: block

.range-input__slider
	width: 100%
	-webkit-appearance: none
	height: 6px
	border-radius: 3px
	background: #f0f0f0
	outline: none
	margin: 20px 0
    
	&::-webkit-slider-thumb
		-webkit-appearance: none
		appearance: none
		width: 60px
		height: 40px
		border-radius: 8px
		background: #9e0b36
		cursor: pointer
		position: relative
		display: flex
		align-items: center
		justify-content: center
		color: white
		font-weight: bold
		opacity: 0
    
	&::-moz-range-thumb
		width: 60px
		height: 40px
		border-radius: 8px
		background: #9e0b36
		cursor: pointer
		position: relative
		display: flex
		align-items: center
		justify-content: center
		color: white
		font-weight: bold

.range-input__value
	display: none

.range-input__tooltip
	position: absolute
	top: 45px
	left: 0
	background-color: #9e0b36
	color: white
	padding: 10px 20px
	border-radius: 8px
	font-weight: bold
	transform: translateX(-50%)
	display: block
	text-align: center
	pointer-events: none
	/* Allows clicks to pass through */
	transition: left 0.1s ease-out