.btn
	+reg
	display: inline-block
	+br(18px)
	cursor: pointer
	+trans(all)
	position: relative
	padding: 25px 52px
	border: 1px solid transparent
	// &::before
	// 	content: ''
	// 	position: absolute
	// 	top: 0
	// 	left: 0
	// 	width: 100%
	// 	height: 100%
	// 	display: block
	// 	opacity: 1
	// 	background: $gradient
	// 	+br(5px)
	// 	z-index: 1
	// 	+trans(opacity)
	// &:hover::before
	// 	opacity: 0
	// &:hover
	// 	svg
	// 		transform: translateX(0px)
	// span
	// 	position: relative
	// 	z-index: 2

	// svg
	// 	transform: translateX(10px)
	// 	+trans(transform)
	// 	position: relative
	// 	z-index: 2

.btn-primary
	background: linear-gradient(to left, $red, $red3)
	color: $w
	border: 1px solid $red
	+trans(all)
	&:hover
		background: linear-gradient(to right, $red, $red3)

.btn-secondary
	background: transparent
	border: 1px solid $red
	color: $red
	&:hover
		background: $red
		color: $w