.header
	width: 100%
	position: absolute
	top: 40px
	left: 0
	z-index: 13
	+r(1200)
		top: 20px
	+r(991)
		top: 15px

	&.static
		padding-top: 40px
		position: static
		top: 0
		+r(991)
			padding-top: 10px

	&--cabinet
		display: flex
		align-items: center
		justify-content: space-between

	.container
		+r(767)
			padding: 0 10px

	&__inner
		display: flex
		align-items: center
		justify-content: space-between
		+r(991)
			background: $red
			padding: 25px 30px
			+br(18px)
		+r(767)
			padding: 15px 20px

	&__left
		display: flex
		align-items: center
		grid-gap: 64px
		+r(1200)
			grid-gap: 50px

	&__logo
		img
			max-width: 110px

	.desktop-logo
		+r(991)
			display: none
	.mobile-logo
		display: none
		+r(991)
			display: block

	&__right
		display: flex
		grid-gap: 12px

	&__lang
		border-radius: 18px
		padding: 26px
		background: $w
		color: $red
		font-size: 15px
		+r(1200)
			padding: 18px
		+r(991)
			display: none

		& > a
			display: flex
			align-items: center
			grid-gap: 3px
			color: $red
		span
			color: $red
			+reg

	&__cta
		background: linear-gradient(to left, #8E1636, #660224)
		font-size: 18px
		+med
		color: $w
		padding: 26px 56px
		border-radius: 18px
		+r(1200)
			padding: 18px 40px
			font-size: 16px
		+r(991)
			display: none


// ===========================
// Translate Language
// ===========================
.qtranxs_widget_end
	display: none

.lang-dropdown
	position: relative
	&:hover
		.language-chooser
			transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.1s
			transform: translateY(0)
			visibility: visible
	& > a
		display: block
		grid-gap: 0
	svg
		position: relative
		top: 3px

.language-chooser
	position: absolute
	top: 100%
	left: 0
	z-index: 8888
	background: $w
	padding: 20px 25px
	+br(18px)
	// box-shadow: 0px 0px 0px 0px rgba(58, 61, 69, 0.15), 0px 1px 3px 0px rgba(58, 61, 69, 0.15), 0px 6px 6px 0px rgba(58, 61, 69, 0.13), 0px 13px 8px 0px rgba(58, 61, 69, 0.08), 0px 24px 10px 0px rgba(58, 61, 69, 0.02), 0px 37px 10px 0px rgba(58, 61, 69, 0.00)
	visibility: hidden
	transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), visibility 0s linear 0.1s
	transform: translateY(20px)
	+r(1200)
		padding: 18px
	li
		cursor: pointer
		margin-bottom: 5px
		span
			text-transform: uppercase
			+reg
	a
		&:hover
			color: $red

.qtranxs_flag_and_text
	padding-left: 25px
	background-position: 0px 4px