// ========================================
// hero - component
// ========================================
.hero
	position: relative
	display: flex
	align-items: center
	min-height: 820px
	background-size: cover
	background-repeat: no-repeat
	overflow: hidden
	padding-top: 100px
	+r(991)
		flex-direction: column
		grid-gap: 50px
	&__img
		position: absolute
		top: 50%
		right: 0
		transform: translateY(-40%)
		z-index: 2
		+r(991)
			display: none
			position: static
			top: 0
			transform: none
		&.after-none::after
			display: none
		&::after
			content: ''
			position: absolute
			left: auto
			right: -20%
			bottom: -65%
			width: 800px
			height: 800px
			background-image: url(../img/about-hero-card-bg.svg)
			background-repeat: no-repeat
			background-size: contain
			z-index: -1
			display: none
			+r(1440)
				width: 700px
				height: 700px
				// bottom: -30%
			+r(1200)
				width: 600px
				height: 600px
				bottom: -60%
				right: -30%
		img
			+r(1440)
				width: 80%
				margin-right: 0
				margin-left: auto
			+r(1200)
				width: 60%

	.hero__img--mobile
		display: none
		+r(991)
			display: block
		img
			width: 100%
			object-fit: contain
		&::after
			right: 50%
			bottom: -50%
			transform: translateX(50%)

	&__title
		display: inline-block
		margin: 26px 0 86px
		+r(767)
			margin: 20px 0 0
		h1
			+reg
			font-weight: normal
			font-size: 60px
			line-height: 110%
			span
				color: $red
			+r(1440)
				font-size: 50px
			+r(991)
				font-size: 40px
			+r(767)
				font-size: 36px
				br
					display: none
			+r(560)
				font-size: 30px

	&__subtext
		span
			opacity: 0.3
			font-size: 15px
			+reg
			line-height: 110%
			text-transform: uppercase

	&__footer
		position: relative
		margin-top: 40px
		+r(767)
			margin-top: 30px
		p
			font-size: 16px
			+reg
			opacity: 0.4
			line-height: 160%
			+r(767)
				font-size: 14px

	&__footer--line
		padding-left: 35px
		+r(767)
			padding-left: 0
		&:before
			content: ''
			height: 100%
			width: 1px
			background: $red
			display: inline-block
			position: absolute
			top: 0
			left: 0
			+r(767)
				display: none

	&__form
		background: $w
		+br(18px)
		box-shadow: 0px 4px 100px 0px rgba(0, 0, 0, 0.03)
		max-width: 100%

	&__btns
		display: flex
		align-items: center
		grid-gap: 15px
		&.mb-40
			margin-bottom: 40px
		+r(767)
			flex-direction: column
			grid-gap: 20px
			align-items: flex-start

	// ref page

	&__banner
		height: 380px
		display: flex
		flex-direction: column
		justify-content: space-between
		+br(30px)
		overflow: hidden
		padding: 25px

		&-icon
			width: 70px
			height: 70px
			+flex
			+br(50%)
			background: $w

	&__top-wrap
		display: flex
		justify-content: space-between
		align-items: center
		grid-gap: 20px

	&__top-right
		li
			position: relative
			display: block
			margin-bottom: 10px
			padding-left: 30px
			&:last-child
				margin-bottom: 0
			&::before
				content: ''
				display: block
				width: 10px
				height: 10px
				+br(50%)
				background: $red
				position: absolute
				top: 50%
				left: 0
				transform: translateY(-50%)
		p
			color: rgba($b,.4)
