.section__title
	&.--colored
		h1
			color: $red
	&.--white
		h2
			color: $w
	h1
		+reg
		font-size: 40px
		font-style: normal
		line-height: 120%
		color: $b31
	h2
		+reg
		font-size: 40px
		font-style: normal
		line-height: 120%
		color: $b31
		font-weight: normal
		+r(767)
			font-size: 32px
		+r(560)
			font-size: 28px
		span
			color: $red

.section__top
	display: flex
	align-items: center
	grid-gap: 50px
	+r(767)
		grid-gap: 30px
	.section__subtext
		margin-bottom: 0
	&.--white
		.section__subtext 
			h5
				color: $w
				opacity: .7
				+r(767)
					font-size: 14px
			&::before
				background: $w
				opacity: .5
		.section__num
			color: $w
			opacity: .5

.section__bottom
	display: flex
	align-items: center
	justify-content: space-between
	+r(991)
		flex-direction: column
		align-items: flex-start
		grid-gap: 30px
		h2
			font-size: 28px

.section__head
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 60px

.section__addblock
	display: flex
	align-items: center
	grid-gap: 30px
	+r(991)
		flex-direction: column-reverse
		align-items: flex-start
		img
			opacity: 0.5
	p
		font-size: 15px
		color: $b
		opacity: 0.4
		line-height: 160%
		text-align: right
		+r(991)
			text-align: left
			br
				display: none

.section__num
	color: $red
	font-size: 14px
	+reg

.section__subtext
	margin-bottom: 35px
	position: relative
	padding-left: 70px
	&::before
		content: ''
		display: block
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		width: 55px
		height: 0.1px
		background: $red
	h5
		font-size: 15px
		color: $b
		+reg
		opacity: 0.3
		font-weight: normal

.section__aftertext
	margin-top: 25px
	p
		font-size: 15px
		color: $b
		+reg
		opacity: 0.3
		font-weight: normal