.section__title
	&.--colored
		h1
			color: $red
	&.--white
		h2
			color: $w
	h1
		+reg
		font-size: 40px
		font-style: normal
		line-height: 120%
		color: $b31
		// +r(991)
		// 	font-size: 48px
		// 	line-height: 54px
		// +r(768)
		// 	font-size: 36px
		// 	line-height: 48px
		// +r(560)
		// 	font-size: 28px
		// 	line-height: 44px
	h2
		+reg
		font-size: 40px
		font-style: normal
		line-height: 120%
		color: $b31
		font-weight: normal
		span
			color: $red

.section__top
	display: flex
	align-items: center
	grid-gap: 50px
	.section__subtext
		margin-bottom: 0
	&.--white
		.section__subtext 
			h5
				color: $w
				opacity: .7
			&::before
				background: $w
				opacity: .5
		.section__num
			color: $w
			opacity: .5

.section__bottom
	display: flex
	align-items: center
	justify-content: space-between

.section__head
	display: flex
	align-items: center
	justify-content: space-between
	margin-top: 60px

.section__addblock
	display: flex
	align-items: center
	grid-gap: 30px
	p
		font-size: 15px
		color: $b
		opacity: 0.4
		line-height: 160%
		text-align: right

.section__num
	color: $red
	font-size: 14px
	+reg

.section__subtext
	margin-bottom: 35px
	position: relative
	padding-left: 70px
	&::before
		content: ''
		display: block
		position: absolute
		top: 50%
		left: 0
		transform: translateY(-50%)
		width: 55px
		height: 0.1px
		background: $red
	h5
		font-size: 15px
		color: $b
		+reg
		opacity: 0.3
		font-weight: normal