// Fonts
+font('RobotoRegular', RobotoRegular)
+font('RobotoMedium', RobotoMedium)
+font('RobotoLight', RobotoLight)
+font('RobotoBold', RobotoBold)

=reg
	font-family: RobotoRegular, sans-serif
=med
	font-family: RobotoMedium, sans-serif
=lig
	font-family: RobotoLight, sans-serif
=bold
	font-family: RobotoBold, sans-serif

// base colors
$b: #000000
$b9: #141415
$b8: #313035
$b7: #5B5963
$b5: #85838E
$b4: #B2B0BB
$b3: #CFCED9
$b2: #EAE9EF
$b1: #F6F6F9
$w: #ffffff